<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="BookBarnConn"
			 connectionString="
         Data Source=(LocalDB)\MSSQLLocalDB;
         AttachDbFilename=|DataDirectory|\Database1.mdf;
         Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>



	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<authentication mode="None" />
	</system.web>

	<system.webServer>
		<!-- serve WebForm1.aspx as default document -->
		<defaultDocument>
			<files>
				<clear />
				<add value="WebForm1.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
